/* Page:  Authpage*/
.authPageWrapper {
    color: black;
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5em;
    line-height: 1.2em;
    border: 5px solid rgb(56, 151, 206);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}
.authPageWrapper h2{
    margin-bottom: 1em;
}
.authPageWrapper .list {
    margin-bottom: 1em;
}
.authPageWrapper .arrowContain {
    display: flex;
    gap: 1em;
}
.authPageWrapper .arrowContain .custom-class {
    width: 5em;
    justify-content: center;
    background-color: rgb(56, 151, 206);
}
/* End of page: Authpage */
/* Page: MainPage */
.mainPageWrapper {
    margin: 1em;
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-template-rows: 25% 40% 1fr;
    grid-template-areas: 
                        "mode info"
                        "tool tool"
                        "archive archive";
    gap: 1em
}

.mainPageWrapper .controlState {
    grid-area: mode;
}
.mainPageWrapper .infoOfObject {
    grid-area: info;
}
.mainPageWrapper .manageTool {
    grid-area: tool;
}
.mainPageWrapper .archive {
    grid-area: archive;
}
.mainPageWrapper .controlState,
.mainPageWrapper .infoOfObject,
.mainPageWrapper .manageTool,
.mainPageWrapper .archive {
    border: 5px solid rgb(0, 0, 0);
    border-radius: 20px;
    backdrop-filter: blur(10px);
}

.mainPageWrapper .controlState {
    display: flex;
    gap: .8em;
    align-items: center;
}
.mainPageWrapper .controlState .mode,
.mainPageWrapper .controlState .state {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .4em;
}
.mainPageWrapper .controlState .state .divContain {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 1em;
}
.mainPageWrapper .controlState .state .divContain {    
    overflow: hidden;
    width: 2.2em;
    height: 2.2em;
    border-radius: 50%;
    border: 3px solid black;    
    /* background-color: green; */
    transition: all 2s ease;
}

.mainPageWrapper .controlState .state .divContain.ok {    
    border: 3px solid black;
    background-color: green;
}
.mainPageWrapper .controlState .state .divContain.manual {    
    border: 3px solid green;
    background-color: black;
}
.mainPageWrapper .controlState .state .divContain.attention {    
    border: 3px solid red;
    background-color: yellow;
}
.mainPageWrapper .controlState .state .divContain.error {    
    border: 3px solid yellow;
    background-color: red;
}

.mainPageWrapper .infoOfObject {
    background-color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.mainPageWrapper .manageTool {
    background-color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.mainPageWrapper .archive {
    background-color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
/* End of page: Main page */
/* Page: InfoPage */
.mainInfoWrapper {
    margin: 1em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 46% 1fr;
    grid-template-areas: 
                        "list"
                        "slider"
                        "task";
    gap: 1em
}

.mainInfoWrapper .listOfEquipment {
    grid-area: list;
}

.mainInfoWrapper .slider {
    grid-area: slider;
}

.mainInfoWrapper .todoTask {
    grid-area: task;
}

.mainInfoWrapper .listOfEquipment,
.mainInfoWrapper .slider,
.mainInfoWrapper .todoTask {
    border: 5px solid rgb(0, 0, 0);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    background-color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    max-height: 100%; 
}
/* End of page: InfoPage */
/* Page: NotFound */
.errorPage {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*End of page: NotFound */