/* Page:  Authpage*/
.authPageWrapper {
    color: black;
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5em;
    line-height: 1.2em;
    border: 5px solid rgb(56, 151, 206);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}
.authPageWrapper .list {
    margin-bottom: 1em;
}
.authPageWrapper .arrowContain {
    display: flex;
    gap: 1em;
}
.authPageWrapper .arrowContain .custom-class {
    width: 5em;
    justify-content: center;
    background-color: rgb(56, 151, 206);
}
/* End of page: Authpage */
/* Page: MainPage */
.mainPageWrapper {
    height: 85vh;
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-template-rows: 25% 40% 1fr;
    grid-template-areas: 
                        "mode info"
                        "tool tool"
                        "archive archive";
    gap: 0.5em
}

.mainPageWrapper .controlState {
    grid-area: mode;
}
.mainPageWrapper .infoOfObject {
    grid-area: info;
}
.mainPageWrapper .manageTool {
    grid-area: tool;
}
.mainPageWrapper .archive {
    grid-area: archive;
}
/* End of page: Main page */
/* Page: InfoPage */
.mainInfoWrapper {
    height: 85vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 40% 1fr;
    grid-template-areas: 
                        "list"
                        "slider"
                        "task";
    gap: 0.5em
}