header {
    /* padding: 0.6em; */
    max-height: 100%;
    color: white;
}

header .contain {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: rgba(221, 226, 228, 0.712);
}

header .contain .icon{
    height: 2em;
}

header .contain .icon img{
    height: 90%;    
}

header .contain .routhButton {
    display: flex;
    gap: 1em;
    align-items: center;
}

header .contain .auth {
    display: flex;
    align-items: center;
}

